h1{
  
  border-color: black;
  border-width: 50px;
  background-color: darkgrey;
  font-size: 50px;

}

body{
  background-color: lightgrey;
}

header{
  background-color: darkgray;
  margin-top: 50px;
  margin-bottom: 50px;

}

main section p{
  text-align: left;
  font-size: 20px;
  margin-bottom: 650px;
  background-color: whitesmoke;
  
}

footer{
  color: red;
}