p{
  margin: 25px;
}

h1{
  
  border: black;
  border-width: 50px;
  background-color: darkgrey;
  font-size: 50px;

}

h2{
  background-color: aliceblue;
}

h3{
  background-color: aliceblue;
}

h4{
  background-color: aliceblue;
}

body{
  background-color: lightgrey;
}

header{
  border: black;
  background-color: darkgray;
  margin-top: 50px;
  margin-bottom: 50px;

}

main section p{
  text-align: left;
  font-size: 20px;
  margin-bottom: 650px;
  background-color: whitesmoke;
  
}

footer{
  color: red;
  margin-top: 200px;
}

ol{
  list-style: decimal;
  list-style-position: inside;
  margin: 25px;
}

ul{
  list-style: disc;
  list-style-position: inside;
  margin: 25px;
}